/** Background **/

html {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

div#body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: #7400F9;
    background: -webkit-linear-gradient(#00FFDC,#7400F9);
    background: -o-linear-gradient(#00FFDC,#7400F9);
    background: -moz-linear-gradient(#00FFDC,#7400F9);
    background: linear-gradient(#00FFDC,#7400F9);
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    transition-duration: 0.5s;
    position: absolute;
    left: 0px;
    top: 0px;
}

div#bodyo {
    background-color: #333333;
    background: #333333;
    height: 100vh;
    width: 100vw;
    max-width: 500px;
    position: fixed;
    left: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    transition-duration: 0.5s;
    z-index: 0;
}

div#bodyo.showmenu {
    left: 0px;
}

div#body.showmenu {
    left: 500px;
}

@media screen and (max-wdith: 700px) {
    div#body {
        align-items: top;
    }
}

/** App Container **/

div#app_cont,
div#app_conto {
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    max-height: 700px;
    margin-top: 20px;
}

div#page_cont,
div#page_conto {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 90vh !important;
}

#splash {
    display: block;
    margin: auto;
    width: 80%;
}

::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 2px;
    background-color: rgba(50,50,50,0.3);
}

/** Navigation Bar (Top) **/

div#top_bar,
div#top_baro {
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    display: flex;
    position: relative;
    border-bottom: 1px solid #ffffff;
}

button.home_but {
    background-color: none;
    border: none;
    background: none;
    position: absolute;
    right: 0px;
    top: 10px;
}

button.menu_but {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: none;
    background: none;
    border: none;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    transition-duration: 0.4s;
    position: absolute;
    left: 0px;
}

button.menu_but:hover {
    background-color: rgba(50,50,50,0.8);
}

div.title_top {
    color: white;
    display: block;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    user-select: none;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
}

div.title_topo {
    color: white;
    display: block;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    user-select: none;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
}

/** Option Bar (Bottom) **/

ul#opt_but_cont {
    width: 100vw;
    max-width: 500px;
    height: 100px;
    position: fixed;
    bottom: 5vh;
    left: 50vw;
    margin-left: -250px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0px;
    transition-duration: 0.5s;
    visibility: visible;
    opacity: 1;
}

ul#opt_but_cont.menuopen {
    visibility: hidden;
    opacity: 0;
}

li.opt_but {
    background-color: rgba(70,211,255,0.8);
    border-radius: 50px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

li.opt_but.hide {
    visibility: hidden;
}

li.opt_but:hover {
    background-color: rgb(104, 222, 255);
}

li.opt_but > button {
    width: 100px;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background: none;
    border: none;
}

@media screen and (max-width: 500px) {
    ul#opt_but_cont {
        margin-left: 0px;
        left: 0px;
    }
    li.opt_but > button {
        width: 20vw;
        min-width: 75px;
        height: 20vw;
        min-height: 75px;
    }
}

/**********************************/
/** Interactive Elements Styles **/
/********************************/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    opacity: 0.5;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
    opacity: 0.5;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
    opacity: 0.5;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
    opacity: 0.5;
  }

/** Buttons **/
button.round {
    width: 25vh;
    max-width: 150px;
    height: 25vh;
    max-height: 150px;
    border-radius: 80px;
    color: white;
    text-align: center;
    font-size: 20px;
    border: 2px solid white;
    background-color: transparent;
    background: transparent;
    display: block;
    margin: auto;
    margin-bottom: 5vh;
    transition-duration: 0.4s;
}

button.round:hover {
    box-shadow: 0px 0px 20px white;
    cursor: pointer;
}

button.round.top {
    margin-top: 5vh;
}

button.round.sideL {
    float: left;
    margin-left: 10%;
}

button.add_ing {
    background: none;
    border: none;
    outline: none;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(0deg);
    transition-duration: 0s;
}

button.add_ing:focus {
    transform: rotate(-180deg);
    outline: none;
    border: none;
    transition-duration: 0.5s;
}

button.download_but {
    width: 60%;
    border: 2px solid white;
    display: block;
    margin: auto;
    background: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
}

button.download_but:hover {
    background: #555555;
    cursor: pointer;
}

button.optback_but {
    background: #7400F9;
    width: 75px;
    height: 75px;
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-weight: bolder;
    transition-duration: 0.5s;
}

button.optback_but:hover {
    background-color: rgba(116,0,249,0.5);
    cursor: pointer;
}

/** Dropdowns **/

select {
    height: 50px;
    width: 50%;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 1.7em;
}

select > option {
    color: #333333;
}

/** Number Inputs **/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  background: none;
  border: 2px solid white;
  height: 40px;
  color: white;
  font-size: 1.7em;
  width: 20%;
  text-align: center;
}

input[type=number].impnum {
    margin-top: 50px;
    width: 80vw;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    font-size: 5em;
    transition-duration: 0.5s;
    text-align: center;
}

input[type=number].impnum:focus {
    outline: none;
}

/** Text Inputs **/

input[type=text] {
    background: none;
    border: none;
    color: white;
    font-size: 1.0em;
}

input[type=text].name {
    font-size: 200%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    display: block;
	border-bottom: 2px solid white;
}

textarea.directions {
    background: none;
    color: white;
    font-size: 1.5em;
    width: 90%;
    height: 60vh;
    border: 2px solid white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*****************************/
/** Modular Elements ********/
/***************************/

/** Ingredient Container **/

div.ing_cont {
    position: relative;
    width: 90%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.ing_cont > button.exit {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.0em;
    color: white;
    background: none;
    border: none;
}

div.ing_cont > div {
    width: 100%;
    height: 60px;
    position: relative;
}

select.ing {
    margin-left: 30px;
    text-align: center;
}

div.bottom_spacer {
    width: 100%;
    height: 30vh;
}

/** Temperature Container **/

select.temp {
    margin-left: 30px;
    text-align: center;
}

/** Recipe Display Containers and Styles **/

div.rec_cont {
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30vh;
}

div.rec_title {
    font-size: 1.9em;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

div.makeserve_cont {
    width: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div.rec_makes,
div.rec_serves {
    color: white;
    font-size: 1.4em;
    width: 110px;
    position: relative;
}

div.rec_serves {
    position: absolute;
    right: 0px;
    top: 0px;
}

div#makes_num,
div#serves_num {
    position: absolute;
    right: 0px;
    top: 0px;
}

table.rec_ing {
    border-collapse: collapse;
    color: white;
    width: 100%;
    font-size: 1.5em;
    margin-top: 10px;
}

td.ing_title {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

td.ing_amount {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

td.ing_unit {
    width: 30%;
}

textarea.rec_directions {
    width: 100%;
    background: none;
    border: none;
    color: white;
    height: 100vh;
    user-select: none;
}

/** Image Styles **/

.fullwidth {
    width: 95%;
    margin: auto;
}

/** Text Styles **/

.about_text {
    color: white;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}